### Everything in python is an Object

In [1]:
L = [1,2,3]
L.upper() # list doesn't have upper function

AttributeError: 'list' object has no attribute 'upper'

In [3]:
s = 'hello'
s.append('x') # string doesn't have append function

AttributeError: 'str' object has no attribute 'append'

In [5]:
L = [1,2,3] # list is a class, and L is its object
print(type(L))

<class 'list'>

In [7]:
L.upper()

AttributeError: 'list' object has no attribute 'upper'

In [9]:
# syntax to create an object

# objectname = classname()

In [11]:
# object literal
L = [1,2,3]

In [13]:
L = list()
L

[]

In [15]:
s = str()
s

''

## Types of Classes in Python
1. Built-in classes (eg: list, integer, tuple, sets)
2. User-defined classes

## Program-1: Banking application

In [2]:
class Atm:

  # constructor(special function) -> superpower -> code inside constructor doesn't requires function calling explicitly
  # when you make object of this class, the constructor code gets executed automatically
  # Constructor is used to write CONFIGURATION related code (whatever you wanna do without asking user)
  def __init__(self):
    print(id(self))
    self.pin = ''
    self.balance = 0
    # self.menu()

  def menu(self):
    user_input = input("""
    Hi how can I help you?
    1. Press 1 to create pin
    2. Press 2 to change pin
    3. Press 3 to check balance
    4. Press 4 to withdraw
    5. Anything else to exit
    """)

    if user_input == '1':
      self.create_pin()
    elif user_input == '2':
      self.change_pin()
    elif user_input == '3':
      self.check_balance()
    elif user_input == '4':
      self.withdraw()
    else:
      exit()

  def create_pin(self):
    user_pin = input('enter your pin')
    self.pin = user_pin

    user_balance = int(input('enter balance'))
    self.balance = user_balance

    print('pin created successfully')
    self.menu()

  def change_pin():
    old_pin = input('enter old pin')

    if old_pin == self.pin:
      # let him change the pin
      new_pin = input('enter new pin')
      self.pin = new_pin
      print('pin change successful')
      self.menu()
    else:
      print('nai karne de sakta re baba')
      self.menu()

  def check_balance(self):
    user_pin = input('enter your pin')
    if user_pin == self.pin:
      print('your balance is ',self.balance)
    else:
      print('chal nikal yahan se')
    self.menu()

  def withdraw(self):
    user_pin = input('enter the pin')
    if user_pin == self.pin:
      # allow to withdraw
      amount = int(input('enter the amount'))
      if amount <= self.balance:
        self.balance = self.balance - amount
        print('withdrawl successful.balance is',self.balance)
      else:
        print('abe garib')
    else:
      print('sale chor')
    self.menu()

In [6]:
print(type(obj1))

<class '__main__.Atm'>

In [12]:
# both object created & self have same id
# since both are pointing to same memory location, so we can say that self refers to object created

obj1 = Atm() # prints id of self
print(id(obj1))

5097042624
5097042624

In [14]:
obj2 = Atm()

5097043296

In [16]:
L = [1,2,3]
len(L) # function -> bcoz it is outside the list class
L.append() # method -> bcoz it is inside the list class

TypeError: list.append() takes exactly one argument (0 given)

In [18]:
class Temp:

  def __init__(self):
    print('hello')

obj = Temp()

hello

## Creating our own datatype: Fraction

In [23]:
# you can below anser in fraction form, instead of decimal
3/4*1/2

0.375

In [41]:
class Fraction:

  # parameterized constructor (constructor which expects inputs other than 'self')
  def __init__(self,x,y):
    self.num = x
    self.den = y

  # tell python, how our object looks (otherwise python won't be able to print object)
  # super power of this dunder method --> invoked automatically whenever print(object-name) is called, and returns a string
  def __str__(self):
    return '{}/{}'.format(self.num,self.den)

  # super power of this dunder method --> invoked automatically whenever addition('+') is applied on 2 objects of the class
  # thatswhy it requires 2 objects 
  def __add__(self,other):
    new_num = self.num*other.den + other.num*self.den
    new_den = self.den*other.den

    return '{}/{}'.format(new_num,new_den)

  # super power of this dunder method --> invoked automatically whenever substraction('-') is applied on 2 objects of the class
  # thatswhy it requires 2 objects 
  def __sub__(self,other):
    new_num = self.num*other.den - other.num*self.den
    new_den = self.den*other.den

    return '{}/{}'.format(new_num,new_den)

  # super power of this dunder method --> invoked automatically whenever multiplication('*') is applied on 2 objects of the class
  # thatswhy it requires 2 objects 
  def __mul__(self,other):
    new_num = self.num*other.num
    new_den = self.den*other.den

    return '{}/{}'.format(new_num,new_den)

  # super power of this dunder method --> invoked automatically whenever division('/') is applied on 2 objects of the class
  # thatswhy it requires 2 objects 
  def __truediv__(self,other):
    new_num = self.num*other.den
    new_den = self.den*other.num

    return '{}/{}'.format(new_num,new_den)

  # non-magic method
  def convert_to_decimal(self):
    return self.num/self.den

In [35]:
fr1 = Fraction(3,4)
fr2 = Fraction(1,2)

print(fr1,fr2)

3/4 1/2

In [43]:
fr1.convert_to_decimal()
# 3/4

0.75

In [39]:
print(fr1 + fr2)
print(fr1 - fr2)
print(fr1 * fr2)
print(fr1 / fr2)

10/8
2/8
3/8
6/4

In [31]:
# whosoever made class for set, doesn't defined the logic for '+' operation

s1={1,2,3}
s2={3,4,5}

s1 + s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'