# Strings
Strings are sequence of characters

In Python specifically, strings are a sequence of Unicode Characters (not based on ASCII values)
- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Operations on Strings
- String Functions

# Creating Strings

In [13]:
s = 'hello'
s = "hello"
s = "it's raining outside"
print(s)

# multiline strings
s = '''hello''' 
s = """hello"""
print(s)

s = str(4.5)
print(s)

it's raining outside
hello
4.5

# Accessing Substrings from a String

In [19]:
# Positive Indexing (1st element is assigned 0)
s = 'hello world'
print(s[0])

h

In [21]:
# Negative Indexing (Last element is assigned -1)
s = 'hello world'
print(s[-3])

r

In [65]:
# Slicing
s = 'hello world'
print(s[0:5]) # 5 is excluded
print(s[2:]) # index 2 to end
print(s[:3]) # starting to index 2
print(s[:]) # prints whole string

# Step size
print(s[0:6:2]) # step size (skips 1 element, i.e. jump of 2)
print(s[6:0:-2]) # 0 is excluded [In case of -ve step size, starting number should be bigger]
print(s[-1:-6]) # doesn't prints anything (requires step size of -1)

# Reverse a string
print(s[::-1])

hello
llo world
hel
hello world
hlo
wol

dlrow olleh

# Editing and Deleting in Strings

In [81]:
s = 'hello world'

# Python strings are immutable
# s[0] = 'H' 

# Editing is not allowed

In [85]:
s = 'hello world'
del s
# print(s) # throws error name 's' is not defined

# del s[-1:-5:2] # throws error bcoz python strings are immutable

# Full deletion is allowed, partial deletion isn't allowed

# Operations on Strings
- Arithmetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

In [98]:
# Arithmetic operations: only addition & multiplication works
print('delhi' + ' ' + 'mumbai')
print('delhi' * 5)

delhi mumbai
delhidelhidelhidelhidelhi

In [108]:
# Relational operations: all works based lexicographic comparison
print('delhi' == 'mumbai')
print('delhi' != 'mumbai')
print('delhi' > 'mumbai')
print('delhi' < 'mumbai')
print('Delhi' > 'delhi') # ASCII value of 'D' is lesser than that of 'd'

False
True
False
True
False

In [122]:
# Logical operations

# Python internally treats empty string as 'False' & remaining strings as 'True'
print('' and 'world') # False i.e. ''
print('' or 'world') # True i.e. 'world'

# LR Associativity
print('hello' and 'world')
print('hello' or 'world')
print('world' or 'hello')

# 'not' returns True/False
print(not 'hello')
print(not '')

world
world
hello
world
False
True

In [124]:
# Loops on Strings
for i in 'hello':
    print(i)

h
e
l
l
o

In [126]:
# Membership operations
print('d' in 'delhi')
print('D' not in 'delhi')

True
True

# Common Functions 
Functions which are applicable on all datatypes (eg: string, list, set, dictionary, tuple)
- len
- max
- min
- sorted

In [142]:
print(len('hello world'))
print(max('hello world')) # based on ASCII
print(min('hello world')) # based on ASCII (min ASCII value is of space ' ')
print(sorted('hello world')) # Output is LIST, not string (Ascending)
print(sorted('hello world', reverse=True)) # Descending order

11
w

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']
['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

# String Functions 
Functions that works only on strings

In [177]:
s = 'hello world'

print(s.capitalize()) # capitalise 1st character of sentence 
print(s.title()) # capitalise 1st character of every word
print(s.upper())
print(s.lower())
print('HeLlo WorLD'.swapcase())

print(s) # original string is not getting changed, as strings are immutable

Hello world
Hello World
HELLO WORLD
hello world
hElLO wORld
hello world

In [207]:
print('my name is kartik'.count('i'))
print('my name is kartik'.find('is')) # returns index of 1st occurence
print('my name is kartik'.find('x')) # returns -1 in case of non-existence
# print('my name is nitish'.index('x')) # throws error in case of non-existence (rest same behaviour as find())

2
8
-1

In [209]:
print('my name is kartik'.endswith('sh'))
print('my name is kartik'.startswith('imy'))

False
False

In [175]:
name = 'kartik'
gender = 'male'

s = 'Hi my name is {} and I am a {}'
print(s.format(name,gender)) 
print(s.format(gender,name)) # order name,gender matters

# can decide positioning within string as well
s = 'Hi my name is {1} and I am a {0}'
print(s.format(gender,name))

Hi my name is kartik and I am a male
Hi my name is male and I am a kartik
Hi my name is kartik and I am a male

In [183]:
print('kartik1234%'.isalnum())
print('kartik'.isalpha())
print('1234'.isdigit())
print('1name%'.isidentifier()) # False, not a valid identifier

False
True
True
False

In [195]:
print('Hi, my name is kartik'.split()) # breaks word by word, add returns a list

# can split over different values as well (not just spaces)
print('Hi, my name is kartik'.split('i'))
print('Hi, my name is kartik'.split('is'))

# JOIN - reverse of split 
print(" ".join(['Hi,', 'my', 'name', 'is', 'kartik']))
print("-".join(['Hi,', 'my', 'name', 'is', 'kartik'])) # can join based on different values (not just spaces)

['Hi,', 'my', 'name', 'is', 'kartik']
['H', ', my name ', 's kart', 'k']
['Hi, my name ', ' kartik']
Hi, my name is kartik
Hi,-my-name-is-kartik

In [199]:
print('Hi, my name is kartik'.replace('kartik','AIStacksDaily')) # not replacing in original string, creating a new one 
print('Hi, my name is kartik'.replace('mayank','AIStacksDaily')) # in case of non-existence, prints original string

Hi, my name is AIStacksDaily
Hi, my name is kartik

In [205]:
'kartik              '.strip() # removes trailing spaces (used in web-dev forms at time of login/signup)

'kartik'